@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-up-out {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-100%);
	}
}

@keyframes slide-down-in {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0);
	}
}

.slide-up-out {
	animation: slide-up-out 0.5s ease-out;
}
.slide-down-in {
	animation: slide-down-in 0.5s ease-out;
}

button {
	padding: 0.625rem 1.25rem;
	border-radius: 0.875rem;
	border-bottom-width: 0.25rem;
	border-bottom-style: solid;
	color: white;
	font-size: small;
	line-height: 1;

	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

.ffa {
	background-image: url("/assets/gamemode-ffa.png");
	background-position: center;
	background-size: cover;
}
